
@{
    ViewBag.Title = "Organization Verified";
    Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
}

<h2>Organization Verified</h2>

<p>Your new organization has now been verified and is available for use within the CrisisCheckin system...</p>