
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_VolunteerLayout.cshtml";
}

<h2>Organization Created</h2>

<p>Please take a moment to check your email, where should find a verification link to verify this organisation.</p>
