@{
    ViewBag.Title = "Create / Edit Disaster";
}

<h2>Create / Edit Disaster</h2>

<table>
    <tr>
        <td>Disaster Name:</td>
        <td><input type="text" id="DisasterNameTextBox"/></td>
    </tr>
    <tr>
        <td>Is Currently Active?</td>
        <td><input type="checkbox" id="IsActiveCheckBox" /></td>
    </tr>
    <tr>
        <td><input type="submit" id="SaveButton" value="Save"/></td>
        <td><input type="button" id="CancelButton" value="Cancel"/></td>
    </tr>
</table>