@model IEnumerable<Models.Disaster>
@{
    ViewBag.Title = "List of Disasters";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    table, tr, th, td {
        padding: 7px;
        border: 1px solid grey;
    }
</style>

<h3>List of Disasters</h3>

<table cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th width="300px;">Disaster Name</th>
        <th>Is Active?</th>
        <th></th>
    </tr>
    @foreach (Models.Disaster d in Model)
    {
        <tr>
            <td>@d.Name</td>
            <td>@d.IsActive</td>
            <td>
                <a href=@String.Format("/Disaster/Edit/{0}", d.Id.ToString())>Edit</a>
                @if (d.IsActive)
                {
                    <text>|</text>
                    @Html.ActionLink("Send Message to Volunteers", "CreateMessageToVolunteersByDisaster", new { controller = "Volunteer", d.Id })
                }
            </td>
        </tr>
    }
</table>
<br/>
<a href="/Disaster/Edit/-1">Add New Disaster</a>