@{
    ViewBag.Title = "List of Disasters";
}

<h2>List of Disasters</h2>

<table>
    <tr>
        <th>Disaster Name</th>
        <th>Is Currently Active?</th>
    </tr>
    @*@foreach(){ *@
    <tr>
        <td></td>
        <td></td>
    </tr>
    @*}*@
</table>