@{
    ViewBag.Title = "List of Disasters";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List of Disasters</h2>

<table>
    <tr>
        <th>Disaster Name</th>
        <th>Is Currently Active?</th>
    </tr>
    @*@foreach(){ *@
    <tr>
        <td>Name</td>
        <td>True</td>
        <td><a href="/Disaster/Edit/1"></a></td>
    </tr>
    @*}*@
    <tr>
        <td>Name 2</td>
        <td>True</td>
        <td><a href="/Disaster/Edit/2"></a></td>
    </tr>
        <tr>
        <td>Name 3</td>
        <td>False</td>
        <td><a href="/Disaster/Edit/3"></a></td>
    </tr>
</table>