@model IEnumerable<Models.Disaster>
@{
    ViewBag.Title = "List of Disasters";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List of Disasters</h2>

<table cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th width="300px;">Disaster Name</th>
        <th>Is Active?</th>
        <th></th>
    </tr>
    @foreach (Models.Disaster d in Model)
    {
        <tr>
            <td>@d.Name</td>
            <td>@d.IsActive</td>
            <td><a href=@String.Format("/Disaster/Edit/{0}", d.Id.ToString())>Edit</a></td>
        </tr>
    }
</table>
<br/>
 <a href="/Disaster/Edit/-1">Add New Disaster</a>