@model crisicheckinweb.ViewModels.DisasterClusterCoordinatorsViewModel

<table cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th width="300px;">Cluster</th>
        <th width="300px">Coordinator(s)</th>
    </tr>
    @foreach (var cluster in Model.Clusters)
    {
        <tr>
            <td>@cluster.Name</td>
            <td>
                @foreach (var coordinator in cluster.Coordinators)
                {
                    <div>
                        @coordinator.Name
                        <a class="close glyphicon glyphicon-remove" href="@Url.Action("ConfirmUnassignCoordinator", new {id=@coordinator.Id})"></a>
                    </div>
                }
            </td>
        </tr>
    }
</table>
