@using System.Web.Optimization
@using crisicheckinweb.Controllers
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<style>
    .align-right {
        text-align: right;
        width: 100%;
        padding-top: 10px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-navbar").click(function () {
            $("#loginStatus").toggleClass("align-right");
        });
    });

</script>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/Disaster/List">Crisis Check-In Admin</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                     @if(this.ViewContext.Controller.ToString() == "crisicheckinweb.Controllers.DisasterController")
                    {
                        <li class="active"><a href="/Disaster/List">Disaster List</a></li>
                    }
                    else
                    {
                        <li><a href="/Disaster/List">Disaster List</a></li>
                    }
                  
                    @if (this.ViewContext.Controller.ToString() == "crisicheckinweb.Controllers.VolunteerController")
                    {
                        <li class="active"><a href="/Volunteer/ListbyDisaster">View Volunteers</a></li>
                    }
                    else
                    {
                        <li><a href="/Volunteer/ListbyDisaster">View Volunteers</a></li>
                    }
                </ul>
                 <div id="loginStatus" class="align-right" style="color: white; font-weight:300; padding-left:15px;">
                    @Html.Partial("_LoginStatus")
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">
    <br/><br/>
    @RenderBody()
</div>
