@using System.Web.Optimization
@using crisicheckinweb.Controllers
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/Disaster/List">Crisis Check-In Admin</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    @Html.MenuItem("Disaster List", "List", "Disaster")
                    @Html.MenuItem("View Volunteers", "ListbyDisaster", "Volunteer")
                </ul>
                 <div id="loginStatus" class="navbar-form pull-right" style="font-weight:300; color:white; padding-top:10px;">
                    @Html.Partial("_LoginStatus")
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container">
    @RenderBody()
</div>
