@using Common
@{
    if (User.Identity != null && string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        Html.Encode("");
    }
    else
    {
        @(string.Format("Welcome, {0}!", User.Identity.Name))
    
    <text>[ </text>

        if (User.IsInRole(Constants.RoleAdmin))
        {
            <text> <a href="/Disaster/List"> Admin </a> | </text>
        }
    
        <text>
             <a href="/Account/Logoff"> Logout </a> |
              <a href="/Account/ChangePassword"> Change Password </a> ]
        </text>
    }
}
