@using Common
<ul class="nav navbar-nav navbar-right">
    @{
        if (User.Identity != null && string.IsNullOrWhiteSpace(User.Identity.Name))
        {
            Html.Encode("");
        }
        else
        {
            <li><a href="/Account/Logoff"> Logout @User.Identity.Name</a></li>

            if (!User.Identity.Name.ToLower().Equals("administrator"))
            {
                <li><a href="/Account/ChangeContactInfo"> Change Contact Info </a></li>
            }

            <li><a href="/Account/ChangePassword"> Change Password</a></li>

        }
    }
</ul>
