@using System.Web.Optimization
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/jquery-1.9.1.js")
@Scripts.Render("~/Scripts/jquery-ui-1.10.3.min.js")
@Styles.Render("~/Content/themes/base/jquery.ui.all.css")

        <div class="row">
            <div class="col-12">
                <div class="page-header">
                    <h1>Crisis Check-In</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="AdminMenu">
                    <a href="/">Home</a><br />
                </div>
            </div>
            <div class="col-10">
                @RenderBody()
            </div>
        </div>
