@using System.Web.Optimization
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/jquery-1.9.1.js")
@Scripts.Render("~/Scripts/jquery-ui-1.10.3.min.js")
@Styles.Render("~/Content/themes/base/jquery.ui.all.css")

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Crisis Check-In</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    @*<li><a href="#about">Test</a></li>*@
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
                </div>
            </div>

 <div class="container">
     <br/><br/>
                @RenderBody()
            </div>
