@{
  ViewBag.Title = "Account activation was succesful";
}

<div class="col-lg-6 col-sm-12 col-xs-12 col-md-6">
  <h3>@ViewBag.Title</h3>

  <div>
    You can now @Html.ActionLink("login", "Login") using the credentials you provided during registration.
  </div>

</div>