@{
    ViewBag.Title = "Admin Login";
}

<div>
    <h2>Admin Login</h2>
    
    Username: <input type="text" id="UsernameTextBox"/><br/>
    Password: <input type="text" id="PasswordTextBox"/><br/>
    <input type="submit" id="LoginButton" value="Login"/>
</div>