@{
    ViewBag.Title = "PasswordChanged";
    if (User.IsInRole(Common.Constants.RoleAdmin))
    { 
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
}

<h2>Password Changed</h2>

Your password has been changed successfully!
