@model IEnumerable<Models.Person>
@{
    ViewBag.Title = "_FilterResults";
}

<table>
    <tr>
        <th>Volunteer Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    @foreach (var person in Model)
    {
    <tr>
        <td>@(person.LastName + ", " + person.FirstName)</td>
        <td>@person.Email</td>
        <td>@person.PhoneNumber</td>
    </tr>
    }
</table>    

