@model crisicheckinweb.ViewModels.ListByDisasterViewModel
@{
    ViewBag.Title = "Volunteers for this Disaster";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List of Volunteers</h2>
@using (Ajax.BeginForm("Filter", "Volunteer", new AjaxOptions() {UpdateTargetId = "results"}))
{
    <h3>Disaster: </h3>
    @Html.DropDownListFor(m => m.SelectedDisaster, new SelectList(Model.Disasters, "Id", "Name", Model.SelectedDisaster), "-- Choose One --")

    <text>Filter by Date: </text>@Html.TextBoxFor(m => m.CommitmentDate)
    <input id="GoButton" type="submit" value="Go"/>
}
<div id="results"></div>
