@{
    ViewBag.Title = "Disasters With Volunteers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List of Disasters with Volunteers</h2>
<h3>(Click Disaster to view Volunteers currently assigned)</h3>

@*@foreach(Disaster in list)*@
<a href="/Volunteer/ListByDisaster/1">Disaster Name 1</a><br/>
<a href="/Volunteer/ListByDisaster/2">Disaster Name 2</a><br/>
<a href="/Volunteer/ListByDisaster/2">Disaster Name 3</a><br/>