@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Send Message To Volunteers By Disaster";
}

<h2>Send Message To Volunteers</h2>

<div>
    <p>The message has been processed.</p>
</div>
