.success {
	background-color: #39C339 !important;
	color: white !important;
}

.failure {
	background-color: #C33A3A !important;
	color: white !important;
}

.validation-summary-errors{
	color: #C33A3A !important;
	background-color: white !important;
}

.input-validation-error {
    border-color: #C33A3A !important;
}

.feedbackHelper {
	color: white;
	display: inline-block;
	padding: 5px;
	position: relative;
	top: -4px;
	margin-left: 10px;
}

.loginNavBar {
  font-weight: 300;
  color: white;
  padding-top: 10px;
}