/* 
    HTBOX Red: rgb(213,37,49), #D52531
*/

.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #d54f58 0%, #D52531 100%);
  background-image:      -o-linear-gradient(top, #d54f58 0%, #D52531 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d54f58), to(#D52531));
  background-image:         linear-gradient(to bottom, #d54f58 0%, #D52531 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd54f58', endColorstr='#D52531', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #D52531 0%, #D52531 100%);
  background-image:      -o-linear-gradient(top, #D52531 0%, #D52531 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D52531), to(#D52531));
  background-image:         linear-gradient(to bottom, #D52531 0%, #D52531 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffD52531', endColorstr='#ffD52531', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ccc;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #D52531;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ccc;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #ccc;
  background-color: #080808;
}