<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </rules>
    </rewrite>
  </system.webServer>
  <system.net xdt:Transform="Replace">
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network
          defaultCredentials="false"
          enableSsl="true"
          host="smtp.gmail.com"
          port="587"
          userName="username"
          password="password"
        />
      </smtp>
    </mailSettings>
  </system.net>
  <!-- Placeholder for adding real elmah monitoring. May want to use errorDb instead of errorMail, your call -->
  <elmah xdt:Transform="Replace">
    <security allowRemoteAccess="0" />
    <errorMail
      from="placeholder@htbox.org"
      to="admin@htbox.org"
      subject="Error on CrisisCheckin"
      async="true"
      useSsl="true"
      smtpPort="587"
      smtpServer="smtp.gmail.com"
      userName="admin@htbox.org"
      password="{ADD PASSWORD HERE}"
      />
  </elmah>

  <appSettings>
    <add key="environment" value="production"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>  
</configuration>